<table class="boxShape entryForm" id="accountTable">
    <!-- HEADER -->
    <tr class="formHeader">
        <td></td>
        <td colspan="4" style="text-align: left;">
            Purchase
        </td>
        <td style="text-align: right;">
            <a href="" class="searchLink">Search..</a>
        </td>
        <td></td>
    </tr>

    <tr class="rowSpacing"><td></td></tr>

    <!-- TYPE + PRCHASE NO -->
    <tr>
        <td style="width: 1%;"></td>

        <td style="width: 9%;">Type</td>
        <td style="width: 50%;">
            <div style="display:flex; gap:15px; align-items:center;">
                
                <label>
                    <input type="radio" name="ph_counter_sale" value="0"
                        {% if not purchase_header or purchase_header.ph_counter_sale == 0 %}checked{% endif %}
                        {% if purchase_header and purchase_header.ph_rid %}
                            disabled
                        {% endif %}>
                    Account Sale
                </label>

                <label>
                    <input type="radio" name="ph_counter_sale" value="1"
                        {% if purchase_header and purchase_header.ph_counter_sale == 1 %}checked{% endif %}
                        {% if purchase_header and purchase_header.ph_rid %}
                            disabled
                        {% endif %}>
                    Counter Sale
                </label>

            </div>
        </td>

        <td></td>

        <td style="width: 10%;">Purchase ID</td>
        <td style="width: 28%;">
            <input type="text"
                   name="ph_purchase_no"
                   value="{{ purchase_header.ph_purchase_no|default:'' }}"
                   class="form-control form-control-sm"
                   readonly tabindex="-1">
        </td>

        <td></td>
    </tr>

    <!-- ACCOUNT + DATE -->
    <tr>
        <td></td>

        <td>Account</td>
        <td>
            <table>
                <tr>
                    <td style="width: 85%;">
                        <!-- hidden RID -->
                        <input type="hidden"
                            id="ph_acc_rid"
                            name="ph_acc_rid"
                            value="{{ purchase_header.ph_acc_rid|default:'' }}">

                        <!-- visible name -->
                        <input type="text"
                            id="ph_acc_name"
                            name="ph_acc_name"
                            class="form-control form-control-sm"
                            value="{{ account.acc_disp_name|default:'' }}"
                            autocomplete="off"
                            {% if purchase_header and purchase_header.ph_rid %}
                                readonly
                            {% endif %}>
                        <div id="suggestionBox" class="suggestion-box"></div>
                    </td>
                    <td style="width: 15%;">
                        <input type="text"
                            id="ph_acc_code" name="ph_acc_code"
                            value="{{ account.acc_code|default:'' }}"
                            class="form-control form-control-sm"
                            readonly tabindex="-1">
                    </td>
                </tr>
            </table>
            
        </td>

        <td></td>

        <td>Date</td>
        <td>
            <input type="date"
                   name="ph_purchase_date"
                   id="ph_purchase_date"
                   value="{{ purchase_header.ph_purchase_date|date:'Y-m-d' }}"
                   class="form-control form-control-sm"
                   {% if purchase_header and purchase_header.ph_rid %}
                                readonly
                            {% endif %}
                    tabindex="-1">
        </td>

        <td></td>
    </tr>

    <!-- ADDRESS -->
    <tr id="accountDetailsRow">
        <td></td>

        <td>Address</td>
        <td>
            <input type="text"
                   id="accountAddress"
                   name="address"
                   class="form-control form-control-sm"
                   value="{{ account.acc_address|default:'' }}"
                   tabindex="-1"
                   {% if purchase_header and purchase_header.ph_rid %}
                        readonly
                    {% endif %}>
        </td>

        <td></td>

        <td>Phone</td>
        <td>
            <input type="text"
                   id="accountPhone"
                   name="phone"
                   class="form-control form-control-sm"
                   value="{{ account.acc_phone|default:'' }}"
                   tabindex="-1"
                   {% if purchase_header and purchase_header.ph_rid %}
                        readonly
                    {% endif %}>
        </td>
    </tr>
    <!-- NOTES -->
    <tr>
        <td></td>

        <td>Notes</td>
        <td>
            <input type="text"
                id="ph_notes" name="ph_notes"
                class="form-control form-control-sm"
                value="{{ purchase_header.ph_notes|default:'' }}"
                {% if purchase_header and purchase_header.ph_rid %}
                readonly
                {% endif %}>
        </td>

        <td></td>
    </tr>

</table>