
<!-- <table style="width: 100%; border-top: 1px solid #ccc; margin-top: 10px;"> -->
<table class="boxShape entryForm" id="accountTable">
        <tr>
          <td style="width: 1%;"></td>
          <td style="width: 64%;"></td>
          <td style="width:19%; text-align:right;">Total Amount&nbsp;</td>
          <td style="width: 1%;"></td>
          <td style="width:14%; text-align:right;"> 

          <input type="number" step="0.01"
          id="ph_amount"
          name="ph_amount"

          value="{{ purchase_header.ph_amount|default:''}}"
          class="form-control form-control-sm price text-end"
          readonly tabindex="-1">
          </td>
        <td style="width: 1%;"></td>
      
    </tr>
    <tr>
          <td></td>
          <td></td>
          <td style="text-align:right;">Adjustment (-)&nbsp;</td>
          <td></td>
          <td style="text-align:right;"> 

          <input type="number" step="0.01"
          id="ph_discount" name="ph_discount"

          value="{{ purchase_header.ph_discount|default:''}}"
          class="form-control form-control-sm price text-end" readonly tabindex="-1">
          </td>
        <td></td>
      
    </tr>
    <tr>
          <td></td>
          <td class="info">
            <span id="ph_net_amount_words"></span>
          </td>
          <td style="text-align:right;">Net Amount (Payable)&nbsp;</td>
          <td></td>
          <td style="text-align:right;"> 

            <input type="number" step="0.01"
            id="ph_net_amount"
            name="ph_net_amount"

            value="{{ purchase_header.ph_net_amount|default:''}}"
            class="form-control form-control-sm price text-end"
            onchange="adjustAmount()"
            tabindex="-1"
            {% if purchase_header.ph_purchase_no %}
              readonly
            {% endif%}
            >
          </td>
        <td></td>
      
    </tr>
</table>
<table style="width:100%; margin-top:10px;">
  <tr>
    <td></td>
    <td style="width: 1%;"></td>
    <td style="width: 14%;">
      {% if purchase_header.ph_rid and purchase_header.ph_status != 'Cancelled' %}
        <a href="/purchase?cancel=1&ph_rid={{ purchase_header.ph_rid }}"
          class="searchLink"
          onclick="return confirm('Are you sure to cancel this purchase?');">
          Cancel this purchase
        </a>
        {% endif %}
    </td>
    <td style="text-align: right; width: 84%;">
      {% if purchase_header.ph_rid %}
        
      {% else %}
        <button type="submit" class="submitButton">Submit</button>&nbsp;
      {% endif %}
       <button type="button" onclick="window.location.href='/purchase'" class="submitButton">Clear</button>

    </td>
    <td style="width: 1%;"></td>
  </tr>
</table>