{% extends 'accounts/base.html' %}
{% block content %}
<form method="post" autocomplete="off">
    {% csrf_token %}
    <table style="width: 60%;" class="boxShape entryForm">
        <!-- HEADER -->
        <tr class="formHeader">
            <td></td>
            <td colspan="4" style="text-align: left;">
                Item
            </td>
        </tr>

        <tr class="rowSpacing">
            <td></td>
        </tr>

        <!-- NAME -->
        <tr>
            <td></td>
            <td>Name*</td>
            <td>
                <input type="text"
                       name="item_name"
                       value="{{ item.item_name|default:'' }}"
                       class="form-control form-control-sm">
            </td>
            <td></td>
        </tr>

        <!-- CODE -->
        <tr>
            <td></td>
            <td>Code*</td>
            <td>
                <input type="text"
                       name="item_code"
                       value="{{ item.item_code }}"
                       class="form-control form-control-sm"
                       style="width: 40%; text-align: left;"
                       maxlength="10">
            </td>
            <td></td>
        </tr>

        <!-- MRP -->
        <tr>
            <td></td>
            <td>MRP</td>
            <td>
                <input type="number"
                       step="0.01"
                       name="item_mrp"
                       value="{{ item.item_mrp }}"
                       class="form-control form-control-sm"
                       style="width: 40%;">
            </td>
            <td></td>
        </tr>

        <!-- SALE PRICE -->
        <tr>
            <td></td>
            <td>Sale Price</td>
            <td>
                <input type="number"
                       step="0.01"
                       name="item_sale_price"
                       value="{{ item.item_sale_price }}"
                       class="form-control form-control-sm"
                       style="width: 40%;">
            </td>
            <td></td>
        </tr>

        <!-- GST -->
        <tr>
            <td></td>
            <td>GST(%)</td>
            <td>
                <input type="number"
                       step="0.01"
                       name="item_gst"
                       value="{{ item.item_gst }}"
                       class="form-control form-control-sm"
                       style="width: 40%; text-align: right;">
            </td>
            <td></td>
            <td></td>
        </tr>

        <!-- STOCK -->
        <tr>
            <td></td>
            <td>Stock</td>
            <td>
                <input type="number"
                       step="0.01"
                       name="item_stk"
                       value="{{ item.item_stk }}"
                       class="form-control form-control-sm"
                       style="width: 40%; text-align: right;">
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <!-- BUTTONS -->
    <table style="width: 60%;" class="boxShape entryForm">
        <tr class="rowSpacing">
            <td></td>
        </tr>

        <tr>
            <td style="text-align: right;">
                <a href="{% url 'item_list' %}">
                    Search
                </a>

                &nbsp;&nbsp;&nbsp;&nbsp;

                <button type="submit" class="submitButton">
                    Save
                </button>

                &nbsp;

                <button type="button"
                        onclick="location.reload();"
                        class="submitButton">
                    Cancel
                </button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}