

{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}


<div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
{% endif %}

<form method="post" autocomplete="off">
{% csrf_token %}

<div style="width: 70%;">
    <table>
        <tr>
            <td style="width: 100%;">
                {% include "purchasereturn/purchasereturnheader.html" %}
            </td>
        </tr>
        <tr class="rowSpacing"><td></td></tr>
        <tr>
            <td>
                {% include "purchasereturn/purchasereturnitem.html" %}
            </td>
        </tr>
        <tr class="rowSpacing"><td></td></tr>
         <tr>
            <td>
                {% include "purchasereturn/purchasereturnsummary.html" %}
            </td>
        </tr>
    </table>
</div>
</form>
{{ accounts|json_script:"accounts-data" }}
{{ items|json_script:"items-data" }}


<script src="{% static 'js/purchasereturn.js' %}"></script>

{% endblock %}
