<table class="boxShape entryForm" id="receiptAccountBalanceSheetTable">
    <tr class="rowUnderline readonly">
        <td style="width: 1%;"></td>
        <td style="width: 54%; text-align: left;">
            Notes
        </td>
        <td style="width: 1%;"></td>
        <td style="width: 13%; text-align: right;">
            Cash In
        </td>
        <td style="width: 1%;"></td>
        <td style="width: 13%; text-align: right;">
            Cash Out
        </td>
        <td style="width: 1%;"></td>
        <td style="width: 13%; text-align: right;">
            Balance
        </td>
        <td style="width: 1%;"></td>
    </tr>
</table>