<table class="boxShape entryForm" id="PaymentTable">
    <tr class="formHeader">
        <td></td>
        <td colspan="3" style="text-align:left;">Payment</td>
        <td></td>
    </tr>
    <tr class="rowSpacing">
        <td></td>
    </tr>
    
    <tr>
        <td style="width:1%;"></td>
        <td style="width:22%;">Payment Status</td>
        <td style="width:1%;"></td>
        <td style="width:75%;">
            <table style="width:100%;">
                <tr>
                    <td style="width:50%;">
                        <input type="text"
                               id="pay_status"
                               name="pay_status"
                               value="{{ payment.pay_status }}"
                               class="form-control form-control-sm"
                               readonly>
                    </td>
                    <td style="width:1%;"></td>
                    <td style="width:49%;">
                        {% if payment.pay_rid and payment.pay_status == 'Cancelled' %}
                            <div class="cancelledTransaction">The Payment is cancelled.</div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
        <td style="width:1%;"></td>
    </tr>
    <tr class="rowSpacing">
        <td></td>
    </tr>
    
    <tr>
        <td style="width:1%;"></td>
        <td style="width:22%;">Payment No</td>
        <td style="width:1%;"></td>
        <td style="width:75%;">
            <table style="width:100%;">
                <tr>
                    <td style="width:50%;">
                        <input type="text"
                               id="pay_no"
                               name="pay_no"
                               value="{{ payment.pay_no|default:'' }}"
                               class="form-control form-control-sm"
                               readonly>
                    </td>

                    <td style="width:50%;"></td>
                </tr>
            </table>
        </td>
        <td style="width:1%;"></td>
    </tr>

  
    <tr>
        <td></td>
        <td>Payment Date</td>
        <td></td>
        <td>
            <table style="width:100%;">
                <tr>
                    <td style="width:50%;">
                        <input type="date"
                               id="pay_date"
                               name="pay_date"
                               value="{% if payment %}{{ payment.pay_date|date:'Y-m-d' }}{% else %}{{ today|date:'Y-m-d' }}{% endif %}"
                               class="form-control form-control-sm"
                               {% if payment.pay_rid %} readonly {% endif %}>
                    </td>

                    <td style="width:50%;"></td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>

    <tr>
        <td></td>
        <td>Account</td>
        <td></td>
        <td>
            <table>
                <tr>
                    <td style="width: 85%;">
                        <!-- hidden RID -->
                        <input type="hidden"
                            id="pay_acc_rid"
                            name="pay_acc_rid"
                            value="{{ payment.pay_acc_rid|default:'' }}">

                        <input type="text"
                            id="pay_account_name"
                            name="pay_account_name"
                            value="{{ account.acc_disp_name|default:'' }}"
                            class="form-control form-control-sm"
                            autocomplete="off"
                            {% if payment.pay_rid %} readonly {% endif %}>
                        <div id="suggestionBox"
                            class="suggestion-box">
                        </div>
                    </td>
                    <td style="width: 15%;">
                        <input type="text"
                            id="pay_account_code" name="pay_account_code"
                            value="{{ account.acc_code|default:'' }}"
                            class="form-control form-control-sm"
                            readonly tabindex="-1">
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
    {% if not payment.pay_rid %}
    <tr>
        <td></td>
        <td>Account Balance</td>
        <td></td>
        <td>
            <table style="width:100%;">
                <tr>
                    <td style="width:50%;">
                        <input type="number" step="1" step="1" oninput="this.value = this.value.replace(/\D/g, '')"
                               id="pay_account_due_amt" name="pay_account_due_amt"
                               class="form-control form-control-sm price text-end" readonly>
                    </td>

                    <td style="width:50%;"></td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
    {% endif %}
    <tr>
        <td></td>
        <td>Amount</td>
        <td></td>
        <td>
            <table style="width:100%;">
                <tr>
                    <td style="width:50%;">
                        <input type="number" step="1" step="1" oninput="this.value = this.value.replace(/\D/g, '')"
                               id="pay_amt" name="pay_amt"
                               value="{{ payment.pay_amt|default:'' }}"
                               class="form-control form-control-sm price text-end"
                               {% if payment.pay_rid %} readonly {% endif %}>
                    </td>

                    <td style="width:50%;"></td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Notes</td>
        <td></td>
        <td>
            <input type="text"
                   id="pay_notes"
                   name="pay_notes"
                   value="{{ payment.pay_notes|default:'' }}"
                   class="form-control form-control-sm"
                   {% if payment.pay_rid %} readonly {% endif %}>
        </td>
        <td></td>
    </tr>
</table>
