
{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}


<div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
{% endif %}
<form method="post" autocomplete="off">
{% csrf_token %}

<table style="width: 100%;">
    <tr> 
        <td style="width: 49%; vertical-align: top; text-align: left;">
            <table>
                <tr>
                    <td style="width: 100%;">
                        {% include "payment/paymentbody.html" %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% include "payment/paymentsummary.html" %}
                    </td>
                </tr>
            </table>
        </td>
        <td style="width: 1%;"></td>
        <td style="width: 50%; vertical-align: top; text-align: left;">
            {% include "payment/accountbalancesheet.html" %}
        </td>
</div>
</form>
{{ accounts|json_script:"accounts-data" }}

<script src="{% static 'js/payment.js' %}"></script>
<script src="{% static 'js/accountbalancesheet.js' %}"></script>

{% endblock %}
